<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


	<bean id="animalFactory" class="com.ram.factory.AnimalFactory"></bean>
	<bean id="animal" class="com.ram.factory.AnimalFactory"
		factory-method="getAnimal" factory-bean="animalFactory">
	</bean>

</beans>

