<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="fruitShop" class="com.ram.core.FruitShop">
		
		<property name="shopName" value="Fruit Mart"></property>
		<property name="availableFruitsSet">
			<set>
				<value>apple</value>
				<value>pineapple</value>
				<value>orange</value>
			</set>
		</property>

	</bean>

</beans>
