<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="addressInfo" class="com.ram.model.AddressInfo" />

	<bean id="employee" class="com.ram.model.Employee">
		<property name="id" value="10"></property>
		<property name="name" value="Peter"></property>
		<property name="firstAddress" value="#{addressInfo.addressList[0]}"></property>
		<property name="secondAddress" value="#{addressInfo.addressList[1]}"></property>
	</bean>

</beans>
