<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="employeeService" class="com.ram.service.EmployeeService"></bean>

	<!-- Aspect -->
	<bean id="logAspect" class="com.ram.Aspect.LoggingAspect" />

	<aop:config>
		<aop:aspect id="aspectLoggging" ref="logAspect">

			<!-- @After -->
			<aop:pointcut id="pointCutAfterReturning"
				expression="execution(* com.ram.service.EmployeeService.addEmployee()))" />

			<aop:after-returning method="logAfterReturning"
				returning="result" pointcut-ref="pointCutAfterReturning" />

		</aop:aspect>
	</aop:config>

</beans>
