<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="fruit1" class="com.ram.model.Fruit">
		<constructor-arg type="String" value="Apple"></constructor-arg>
		<constructor-arg type="String" value="Red"></constructor-arg>
	</bean>

	<bean id="fruit2" class="com.ram.model.Fruit">
		<constructor-arg type="String" value="Grapes"></constructor-arg>
		<constructor-arg type="String" value="Violet"></constructor-arg>
	</bean>

	<bean id="fruitShop" class="com.ram.core.FruitShop">

		<constructor-arg type="String" value="Fruit Mart"></constructor-arg>
		<constructor-arg type="java.util.Map">
			<map>
				<entry key="1" value-ref="fruit1"></entry>
				<entry key="2" value-ref="fruit2"></entry>
			</map>
		</constructor-arg>

	</bean>

</beans>
