<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="address" class="com.ram.model.Address">
		<property name="city" value="TamilNadu"></property>
		<property name="state" value="Chennai"></property>
	</bean>

	<bean id="employee" class="com.ram.model.Employee">
		<constructor-arg type="int" value="36"></constructor-arg>
		<constructor-arg type="String" value="Peter"></constructor-arg>
		<constructor-arg name="address" ref="address"></constructor-arg>
	</bean>


</beans>

