<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="fruitShop" class="com.ram.core.FruitShop">

		<property name="shopName" value="Fruit Mart"></property>
		<property name="availableFruits">
			<props>
				<prop key="1">Apple</prop>
				<prop key="2">Grapes</prop>
			</props>
		</property>

	</bean>

</beans>
